{% extends "base.html" %}

{% block content %}
  <div style="border-radius:0px" class="jumbotron text-center bg-dark text-white ">
    <h1>Welcome to the QA forum</h1>
    <p>Submit a post</>
  </div>
    <form action="" method="post" novalidate>
        <div class="form-group container bg-dark p-4" style="margin-bottom:100px !important;">
			{{ form.hidden_tag() }}
        <p>
		<div class="input-group mb-3 mr-sm-2">
          <div class="input-group-prepend">
      		<div class="input-group-text"><i class="fas fa-at"></i></div>
   		 </div>
          <input class="form-control" {{ form.name() }} </input><br>
       </div>        
 	   {% for error in form.name.errors %}
            <span style="color: red;">*{{ error }}</span>
            {% endfor %}<br>
        </p>
         <div class="input-group mb-3 mr-sm-2">
           <div class="input-group-prepend">
             <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i> </div>
           </div>
         <textarea style="resize:none;" rows="8" class="form-control" {{ form.post() }}</textarea><br>
 		</div>           
 			{% for error in form.post.errors %}
            <span style="color: red;">*{{ error }}</span>
            {% endfor %} <br><br>
        
        {{ form.submit() }}
	</div>
    </form>

{% endblock %}
