{% extends "base.html" %}

{% block content %}
	<div style="border-radius:0px" class="jumbotron bg-dark text-white text-center">
    	<h1>Made a whoopsie? Update your post!</h1>
    </div>
<form action="" class="bg-dark p-4 container" method="post" novalidate>
		{{ form.hidden_tag() }}  
		<div class="input-group mb-3 mr-sm-2">
           <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-at"></i></div>
           </div>
            <input class="form-control" {{ form.id() }} </input><br>
      	   </div>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        
             <div class="input-group mb-3 mr-sm-2">
              <div class="input-group-prepend">
               <div class="input-group-text"><i class="fas fa-envelope"></i></div>
             </div>
             <textarea class="form-control" style="resize:none" rows="10" {{ form.post() }} </textarea><br>
  	     </div>
			{% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        	{{ form.submit() }}
 </form>

{% endblock %}
